
 .image-right{
        border-radius: 25px;
		margin-right: 100px;
        width:150px;
        height:100px;
        display: inline;
        float: right;
        margin-left: 50px;
        border:1px solid #021a40;
    }

.text-left{
   	display: inline;
   	margin-right:500px;

    }


.section{
    	width:960px;
    	margin-bottom: 50px;
    	padding-bottom:50px;
        margin-left: 50px
    }

h1, h3, h4{
	text-align: center
}

body{
    font-family: Garamond;
    background-color:#BA5758;
}
@media screen and (max-width:720px){
    .section{
        display:block;
        width:100%;
        float:none;
        margin-bottom: 10px;
        padding-bottom:10px;
        margin-left: 10px;
        margin-right:10px;
    }

 .image-right{
    display:block;
    float:none;
        margin:auto;
        width:150px;
        height:100px;
        margin-bottom: 40px;
    }

.text-left{
    display:block;
    margin:auto;
    font-size: 14px

    }
    li{
        font-size: 14px
    }


}
