
 .image-right{
		margin-right: 100px;
        width:150px;
        height:100px;
        display: inline;
        float: right;
        margin-left: 50px
    }

.text-left{
   	display: inline;
   	margin-right:500px;

    }


.section{
    	width:960px;
    	margin-bottom: 50px;
    	padding-bottom:50px;
        margin-left: 50px
    }

h1, h3, h4{
	text-align: center
}

@media screen and (max-width:720px){
    .section{
        display:block;
        width:100%;
        float:none;
        margin-bottom: 50px;
        padding-bottom:50px;
        margin-left: 10px;
        margin-right:10px;
    }

 .image-right{
    display:block;
    float:none;
        margin:auto;
        width:150px;
        height:100px;
    }

.text-left{
    display:block;
    margin:auto;
    font-size: 10px

    }


}
