body{
	background:white;
	padding: 0px;
	margin:0px;
}

#wrapper{}

h1{font-family: Quicksand;
	text-align: center;
	background-color: green;
	margin-bottom: 60px;
	opacity: .2}

#prlx100{background-color: blue;
	position: fixed;
	width: 100%;
	height: 40px;
	top:100px;
	opacity: .3;
	}

#prlx200{background-color: blue;
	position: fixed;
	width: 100%;
	height: 40px;
	top:200px;
	opacity: .3;
}

#prlx300{background-color: blue;
position: fixed;
width: 100%;
height: 20px;
top:300px;
opacity: .2;
}

#prlx400{background-color: blue;
	position: fixed;
	width: 100%;
	height: 40px;
	top:400px;
	opacity: .3;
	}


#prlx500{background-color: blue;
position: fixed;
width: 100%;
height: 60px;
top:500px;
opacity: .15;
}

#black{
	position:fixed;
	width:100%;
	top:0px;
	height:100px;
	background-color: black;
	overflow: visible;
	z-index: 999
}


#transparent_text{
	color: white;
}




