h1,h2{
    text-align: center;
    font-family: verdana
}

h2{padding-bottom: 25px}

footer {
	font-size: 80%; 
	text-align: center;
	padding-bottom: 5px;
	padding-top: 10px
}
body{
    background-color: white;
    padding-right: 150px;
    font-family:verdana;
}
.impression{padding-bottom: 5px;
}
em{color: black;
    font-size: 110%;
    padding-top: 155px}
