svg {
  /*border:1px solid #f0f;*/
  margin: auto;
  display: block;
}
.chart-container{
  margin: auto;
}

.axis text {
  font-size: 12px;
  fill: #777;
}

.axis path {
  display: none;
}

.axis line {
  stroke-width:1px;
  stroke: #ccc;
  stroke-dasharray: 2px 2px;
}

.bar{
  fill:white;
  stroke : black;
}
