body{
	background-color: #FFFFD3
}

#wrapper{
	background-color: #FFFFD3;
	font-family: Aldrich;
	min-width: 480px
}

h1{
	text-align: center
}
table{width:100%;
	border: 1px solid black;
	}
.toprow{
	text-align: center
}

.top {background-color: orange}

.even {
	background-color: #ECEEF3
}

.odd {
	background-color: white
}